In [10]:
import pandas as pd 
import numpy as np

In [11]:
train_data = pd.read_csv(r'F:\M.Tech_CollgeMaterials\CodeLLM\sentiment_analysis\data\twitter_training.csv')

In [12]:
train_data.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [13]:
# First step will assign the data set column names so that it can be easier to perform operations 
column_names = ['id', 'game', 'sentiment', 'text']

train_data = pd.read_csv(r'F:\M.Tech_CollgeMaterials\CodeLLM\sentiment_analysis\data\twitter_training.csv',names=column_names)

In [14]:
train_data.head()

,id,game,sentiment,text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...