In [200]:
import pandas as pd 
import numpy as np

In [201]:
train_data = pd.read_csv(r'F:\M.Tech_CollgeMaterials\CodeLLM\sentiment_analysis\data\twitter_training.csv')

In [202]:
train_data.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [203]:
# First step will assign the data set column names so that it can be easier to perform operations 
column_names = ['id', 'keyword', 'sentiment', 'text']

train_data = pd.read_csv(r'F:\M.Tech_CollgeMaterials\CodeLLM\sentiment_analysis\data\twitter_training.csv',names=column_names)

In [204]:
train_data.head()

,id,keyword,sentiment,text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [205]:
train_data.isnull().sum()

id             0
keyword        0
sentiment      0
text         686
dtype: int64

In [206]:
train_data = train_data.dropna()

In [207]:
train_data.dtypes

id            int64
keyword      object
sentiment    object
text         object
dtype: object

In [208]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sayed\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sayed\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sayed\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [209]:
import re

def preprocess(text):
    # Check if the text is a string, if not, return empty string
    if not isinstance(text, str):  
        return ""  # Handle NaN or other non-string values

    # Convert text to lowercase
    text = text.lower()

    # Replace <unk> token with a placeholder (optional, you could remove it)
    text = text.replace("<unk>", "unknown")

    # Remove URLs (replace with 'URL' or just remove)
    text = re.sub(r'http\S+|www\S+|https\S+', 'URL', text)

    # Remove Twitter handles (e.g., @username)
    text = re.sub(r'@\w+', '', text)

    # Remove hashtags (e.g., #example)
    text = re.sub(r'#\w+', '', text)

    # Remove non-alphanumeric characters (except spaces)
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)

    # Tokenize the text
    tokens = word_tokenize(text)

    # Remove stopwords and punctuation
    tokens = [word for word in tokens if word not in stop_words and word not in string.punctuation]

    # Lemmatize the tokens (convert to base form)
    tokens = [lemmatizer.lemmatize(word) for word in tokens]

    # Return the preprocessed text as a space-separated string
    return " ".join(tokens)

In [210]:
train_data['text'] = train_data['text'].apply(preprocess)